/*-- scss:defaults --*/

$link-color: #1381B0;
$code-block-bg: #CCDDD3;

/*-- scss:rules --*/

.reveal .slide blockquote {
  border-left: 3px solid $text-muted;
  padding-left: 0.5em;
}

.reveal .slide blockquote {
  border-left: 3px solid $text-muted;
  padding-left: 0.5em;
}

.color-slide, 
.color-slide h1 {
 color: white !important;
}
.color-slide {
  background-color: "#FF961C" !important;
}
